<div class="page-header">
    <h1>Entrega {{delivery.code}}</h1>
    <h4>Data: {{ delivery.creationAt.$date | date:'medium' }}</h4>
</div>
<div class="row">
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Qtde</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in delivery.items">
                <td>{{ $index + 1 }}</td>
                <td>{{ item.barcode.plainBarcode }}</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="container">
        <a href="#deliveries" class="btn btn-default">Entregas</a>
    </div>
</div>





